@import url("colors.css");

* {
  border: none;
  border-radius: 0;
  font-family: "monospace", "Symbols Nerd Font";
  font-size: 12px;
  font-weight: 500;
  min-height: 0;
}

window#waybar {
  border-radius: 0px;
  background: alpha(@background, 0.7);
  color: @foreground;
}

.module {
  margin: 0 5px;
}

.modules-left {
  margin-left: 5px;
}

.modules-right {
  margin-right: 5px;
}

label#window {
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
}

tooltip {
  background: @background;
  border-radius: 0px;
}

tooltip label {
  color: @foreground;
}

#workspaces button {
  padding: 0px;
  margin-left: 0px;
  margin-right: 0px;
  color: alpha(@foreground, 0.5);
  background: transparent;
}

#workspaces button.focused {
  background: transparent;
  color: @foreground;
}

#workspaces button.urgent {
  color: @color1;
  background: transparent;
}

#workspaces button:hover {
  background: transparent;
  color: alpha(@foreground, 0.7);
  box-shadow: inherit;
  text-shadow: inherit;
}

#window,
#custom-media {
  padding: 0px;
}

#taskbar button {
  padding: 4px;
}

#taskbar button.active {
  background: rgba(255, 255, 255, 0.1);
}

window#waybar.empty #window {
  background: transparent;
  box-shadow: 0px 0px 0px 0px rgba(50, 50, 50, 0);
}
